
<mat-card-content>


</mat-card-content>


<mat-card class="card-test">
    <mat-card-header>
      <mat-card-title>Connexion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input matInput class="ident" type="text" placeholder="login" [(ngModel)]= "login">
        </mat-form-field>
        <br />
        <mat-form-field>
            <input matInput class="passw" type="password" placeholder="password" [(ngModel)]= "password">
        </mat-form-field>
    
        <mat-spinner *ngIf="loading"></mat-spinner>
        
    
        <mat-checkbox class="left-align">
            Remember me
        </mat-checkbox>
        <a class="left-align links" href="https://google.com">Forget password 
        </a>
    </mat-card-content>

    <mat-card-actions>

      <button mat-raised-button type="submit" (click)="connexion()">    Connexion </button>
    </mat-card-actions>

  </mat-card>
  